<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstapp.joel.walgreens">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".util.net.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/walgreens"
        android:label="Walgreens"
        android:roundIcon="@mipmap/walgreens"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
    android:theme="@style/AppTheme">
        <activity android:name=".util.one.SplashScreen">
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".util.one.MainActivity">
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".util.login.LoginActivity" />
        <activity android:name=".util.login.Register" />
        <activity android:name=".util.Shopping.ShopItems" />
        <activity android:name=".util.four.Fourth" />
        <activity android:name=".util.sub_category.SubCategoryItems" />
        <activity android:name=".util.login.ForgotUsername" />
        <activity android:name=".util.one.AccountSettings" />
        <activity android:name=".util.login.ForgotPassword" />
        <activity android:name=".util.one.Mailbox" />
        <activity android:name=".util.one.WelcomeActivity"></activity>
        <activity android:name=".util.products.ProductItems"></activity>
    </application>

</manifest>